*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: orange;
    background-image: url(../images/back.png);
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: generalFont;
    src: url(../fonts/Righteous-Regular.ttf);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

@keyframes icoAnimation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#welcome{
    text-align: center;
    font-family: generalFont;
    width: 100vw;
    text-shadow: 1px 3px 3px white;
}

#welcome h1{
    font-size: 50px;
    padding: 20px;
}

#welcome p{
    font-size: 25px;
}

#ico{
    margin-top: 50px;
    width: 400px;
    height: 400px;
    animation: icoAnimation 1s ease-in-out alternate 8 both;
}